.bg-primary {
  background-color: #E84545 !important;
}
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #E84545 !important;
}
.navbar-nav .dropdown-menu {
  background-color:#E84545;
  border: none;
}
.navbar-nav .dropdown-menu .dropdown-item:hover  {
    background-color: #903749;
}
.navbar-nav .dropdown-menu .dropdown-item {
  color: white;
}
